<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>七堵</key>
	<string>1003</string>
	<key>三坑</key>
	<string>1029</string>
	<key>三民</key>
	<string>1617</string>
	<key>三義</key>
	<string>1310</string>
	<key>三貂嶺</key>
	<string>1806</string>
	<key>上員</key>
	<string>2204</string>
	<key>世博(千甲)</key>
	<string>2212</string>
	<key>中壢</key>
	<string>1017</string>
	<key>中洲</key>
	<string>1230</string>
	<key>中里</key>
	<string>1822</string>
	<key>九曲堂</key>
	<string>1404</string>
	<key>九讚頭</key>
	<string>2207</string>
	<key>二水</key>
	<string>1207</string>
	<key>二結</key>
	<string>1821</string>
	<key>五堵</key>
	<string>1004</string>
	<key>佳冬</key>
	<string>1416</string>
	<key>侯硐</key>
	<string>1805</string>
	<key>保安</key>
	<string>1229</string>
	<key>光復</key>
	<string>1612</string>
	<key>內壢</key>
	<string>1016</string>
	<key>內灣</key>
	<string>2210</string>
	<key>內獅</key>
	<string>1503</string>
	<key>八堵</key>
	<string>1002</string>
	<key>六塊厝</key>
	<string>1405</string>
	<key>六家</key>
	<string>2214</string>
	<key>冬山</key>
	<string>1824</string>
	<key>加祿</key>
	<string>1502</string>
	<key>北埔</key>
	<string>1714</string>
	<key>北新竹</key>
	<string>1024</string>
	<key>北湖</key>
	<string>1033</string>
	<key>十分</key>
	<string>1904</string>
	<key>南勢</key>
	<string>1307</string>
	<key>南州</key>
	<string>1413</string>
	<key>南平</key>
	<string>1609</string>
	<key>南港</key>
	<string>1006</string>
	<key>南澳</key>
	<string>1705</string>
	<key>南科</key>
	<string>1244</string>
	<key>南靖</key>
	<string>1218</string>
	<key>古莊</key>
	<string>1507</string>
	<key>合興</key>
	<string>2208</string>
	<key>吉安</key>
	<string>1602</string>
	<key>后里</key>
	<string>1315</string>
	<key>和仁</key>
	<string>1710</string>
	<key>和平</key>
	<string>1709</string>
	<key>員林</key>
	<string>1203</string>
	<key>善化</key>
	<string>1225</string>
	<key>嘉北</key>
	<string>1241</string>
	<key>嘉義</key>
	<string>1215</string>
	<key>四城</key>
	<string>1819</string>
	<key>四腳亭</key>
	<string>1803</string>
	<key>埔心</key>
	<string>1018</string>
	<key>基隆</key>
	<string>1001</string>
	<key>壽豐</key>
	<string>1606</string>
	<key>外澳</key>
	<string>1815</string>
	<key>多良</key>
	<string>1511</string>
	<key>大富</key>
	<string>1613</string>
	<key>大山</key>
	<string>1104</string>
	<key>大慶</key>
	<string>1322</string>
	<key>大村</key>
	<string>1240</string>
	<key>大林</key>
	<string>1213</string>
	<key>大橋</key>
	<string>1239</string>
	<key>大武</key>
	<string>1508</string>
	<key>大湖</key>
	<string>1231</string>
	<key>大溪</key>
	<string>1813</string>
	<key>大甲</key>
	<string>1112</string>
	<key>大肚</key>
	<string>1117</string>
	<key>大華</key>
	<string>1903</string>
	<key>大里</key>
	<string>1812</string>
	<key>太原</key>
	<string>1323</string>
	<key>太麻里</key>
	<string>1514</string>
	<key>安通</key>
	<string>1620</string>
	<key>宜蘭</key>
	<string>1820</string>
	<key>富岡</key>
	<string>1020</string>
	<key>富源</key>
	<string>1614</string>
	<key>富貴</key>
	<string>2209</string>
	<key>富里</key>
	<string>1623</string>
	<key>屏東</key>
	<string>1406</string>
	<key>山佳</key>
	<string>1013</string>
	<key>山里</key>
	<string>1631</string>
	<key>岡山</key>
	<string>1233</string>
	<key>崁頂</key>
	<string>1412</string>
	<key>崇德</key>
	<string>1711</string>
	<key>崎頂</key>
	<string>1027</string>
	<key>嶺腳</key>
	<string>1906</string>
	<key>左營</key>
	<string>1236</string>
	<key>平和</key>
	<string>1605</string>
	<key>平溪</key>
	<string>1907</string>
	<key>康樂</key>
	<string>1517</string>
	<key>彰化</key>
	<string>1120</string>
	<key>後壁</key>
	<string>1219</string>
	<key>後庄</key>
	<string>1403</string>
	<key>後龍</key>
	<string>1105</string>
	<key>志學</key>
	<string>1604</string>
	<key>成功</key>
	<string>1321</string>
	<key>拔林</key>
	<string>1224</string>
	<key>斗六</key>
	<string>1210</string>
	<key>斗南</key>
	<string>1211</string>
	<key>新城</key>
	<string>1712</string>
	<key>新埔</key>
	<string>1108</string>
	<key>新左營</key>
	<string>1242</string>
	<key>新市</key>
	<string>1226</string>
	<key>新烏日</key>
	<string>1324</string>
	<key>新營</key>
	<string>1220</string>
	<key>新竹</key>
	<string>1025</string>
	<key>新豐</key>
	<string>1022</string>
	<key>新馬</key>
	<string>1825</string>
	<key>日南</key>
	<string>1111</string>
	<key>景美</key>
	<string>1713</string>
	<key>暖暖</key>
	<string>1802</string>
	<key>月美</key>
	<string>1627</string>
	<key>望古</key>
	<string>1905</string>
	<key>東海</key>
	<string>1417</string>
	<key>東澳</key>
	<string>1704</string>
	<key>東竹</key>
	<string>1622</string>
	<key>東里</key>
	<string>1621</string>
	<key>松山</key>
	<string>1007</string>
	<key>板橋</key>
	<string>1011</string>
	<key>枋寮</key>
	<string>1418</string>
	<key>枋山</key>
	<string>1504</string>
	<key>林內</key>
	<string>1208</string>
	<key>林邊</key>
	<string>1415</string>
	<key>林鳳營</key>
	<string>1222</string>
	<key>柳營</key>
	<string>1221</string>
	<key>桃園</key>
	<string>1015</string>
	<key>楊梅</key>
	<string>1019</string>
	<key>楠梓</key>
	<string>1235</string>
	<key>榮華</key>
	<string>2211</string>
	<key>樹林</key>
	<string>1012</string>
	<key>橋頭</key>
	<string>1234</string>
	<key>橫山</key>
	<string>2206</string>
	<key>武塔</key>
	<string>1706</string>
	<key>歸來</key>
	<string>1407</string>
	<key>民雄</key>
	<string>1214</string>
	<key>水上</key>
	<string>1217</string>
	<key>水里</key>
	<string>2706</string>
	<key>永康</key>
	<string>1227</string>
	<key>永樂</key>
	<string>1703</string>
	<key>永靖</key>
	<string>1204</string>
	<key>汐止</key>
	<string>1005</string>
	<key>汐科</key>
	<string>1031</string>
	<key>池上</key>
	<string>1624</string>
	<key>沙崙</key>
	<string>5102</string>
	<key>沙鹿</key>
	<string>1115</string>
	<key>泰安</key>
	<string>1314</string>
	<key>浮洲</key>
	<string>1032</string>
	<key>海端</key>
	<string>1625</string>
	<key>清水</key>
	<string>1114</string>
	<key>湖口</key>
	<string>1021</string>
	<key>源泉</key>
	<string>2702</string>
	<key>溪口</key>
	<string>1608</string>
	<key>漢本</key>
	<string>1708</string>
	<key>潭子</key>
	<string>1318</string>
	<key>潮州</key>
	<string>1411</string>
	<key>濁水</key>
	<string>2703</string>
	<key>瀧溪</key>
	<string>1510</string>
	<key>烏日</key>
	<string>1320</string>
	<key>牡丹</key>
	<string>1807</string>
	<key>玉里</key>
	<string>1619</string>
	<key>瑞和</key>
	<string>1628</string>
	<key>瑞源</key>
	<string>1629</string>
	<key>瑞穗</key>
	<string>1616</string>
	<key>瑞芳</key>
	<string>1804</string>
	<key>田中</key>
	<string>1206</string>
	<key>白沙屯</key>
	<string>1107</string>
	<key>百福</key>
	<string>1030</string>
	<key>知本</key>
	<string>1516</string>
	<key>石城</key>
	<string>1811</string>
	<key>石榴</key>
	<string>1209</string>
	<key>石龜</key>
	<string>1212</string>
	<key>礁溪</key>
	<string>1818</string>
	<key>社頭</key>
	<string>1205</string>
	<key>福隆</key>
	<string>1810</string>
	<key>竹中</key>
	<string>2203</string>
	<key>竹北</key>
	<string>1023</string>
	<key>竹南</key>
	<string>1028</string>
	<key>竹東</key>
	<string>2205</string>
	<key>竹田</key>
	<string>1410</string>
	<key>竹科(新莊)</key>
	<string>2213</string>
	<key>羅東</key>
	<string>1823</string>
	<key>臺中</key>
	<string>1319</string>
	<key>臺中港</key>
	<string>1113</string>
	<key>臺北</key>
	<string>1008</string>
	<key>臺南</key>
	<string>1228</string>
	<key>臺東</key>
	<string>1632</string>
	<key>花壇</key>
	<string>1202</string>
	<key>花蓮</key>
	<string>1715</string>
	<key>苑裡</key>
	<string>1110</string>
	<key>苗栗</key>
	<string>1305</string>
	<key>菁桐</key>
	<string>1908</string>
	<key>萬榮</key>
	<string>1611</string>
	<key>萬華</key>
	<string>1009</string>
	<key>蘇澳</key>
	<string>1827</string>
	<key>蘇澳新</key>
	<string>1826</string>
	<key>西勢</key>
	<string>1409</string>
	<key>談文</key>
	<string>1102</string>
	<key>豐原</key>
	<string>1317</string>
	<key>豐富</key>
	<string>1304</string>
	<key>豐田</key>
	<string>1607</string>
	<key>貢寮</key>
	<string>1809</string>
	<key>路竹</key>
	<string>1232</string>
	<key>車埕</key>
	<string>2707</string>
	<key>追分</key>
	<string>1118</string>
	<key>通霄</key>
	<string>1109</string>
	<key>造橋</key>
	<string>1302</string>
	<key>金崙</key>
	<string>1512</string>
	<key>銅鑼</key>
	<string>1308</string>
	<key>鎮安</key>
	<string>1414</string>
	<key>長榮大學</key>
	<string>5101</string>
	<key>關山</key>
	<string>1626</string>
	<key>隆田</key>
	<string>1223</string>
	<key>集集</key>
	<string>2705</string>
	<key>雙溪</key>
	<string>1808</string>
	<key>頂埔</key>
	<string>1817</string>
	<key>頭城</key>
	<string>1816</string>
	<key>香山</key>
	<string>1026</string>
	<key>高雄</key>
	<string>1238</string>
	<key>鳳山</key>
	<string>1402</string>
	<key>鳳林</key>
	<string>1610</string>
	<key>鶯歌</key>
	<string>1014</string>
	<key>鹿野</key>
	<string>1630</string>
	<key>麟洛</key>
	<string>1408</string>
	<key>龍井</key>
	<string>1116</string>
	<key>龍泉</key>
	<string>2704</string>
	<key>龍港</key>
	<string>1106</string>
	<key>龜山</key>
	<string>1814</string>
</dict>
</plist>
